@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin-top: 1rem;
    padding: 0;
    margin: 0;
}

html {
    background: rgb(26, 25, 25);
    font-family: 'Roboto';
}

.post {
    margin: auto;
    max-width: 540px;
    background: rgb(250, 247, 247);

}

.post-header {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical {
    display: grid;
}

.horizontal {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

span {
    font-size: 1rem;
}

.fa-html5,
.fa-ellipsis-vertical {
    font-size: 2rem;
    margin-right: 14px;
}

div.post-img img {
    width: 100%;
    max-height: 80%;
}

.post-body {
    padding: 2px;
}

.post-icon {
    padding: 1rem;
    display: flex;
    gap: 0.75rem;
    font-size: 1.5rem;
}

.icono-guardar {
    margin-left: 69%;
}

.p {
    margin-left: 5px;
}